{% extends "libreria/base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Includi le librerie DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
</head>
<body>
    <h2>Libreria</h2>
    <table id="libri" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Autore</th>
                <th>Descrizione</th>
                <th>Data Pubblicazione</th>
            </tr>
        </thead>
        <tbody>
            {%for libro in libri%}
            <tr>
                <td>{{libro.title}}</td>
                <td>
                    {%for autore in libro.autori.all%}
                        {{autore.cognome}} {{autore.nome}} {%if not forloop.last%},{%endif%}
                    {%endfor%}
                </td>
                <td>{{libro.description}}</td>
                <td>{{libro.data_publication}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <script>
        // Inizializza DataTables sulla tabella
        $(document).ready(function() {
            $('#libri').DataTable();
        });
    </script>
</body>
{% endblock content %}