{% extends "libreria/base.html" %}
{% block content %}
<div class="content-section">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Cancellazione Libro</legend>
            <h2>Sei sicuro di voler eliminare il libro "{{libro.title}}"?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Sì, Elimina</button>
            <a class="btn btn-outline-secondary" href="{% url 'libro-detail' libro.id %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}